<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>Cuaderno alumno</title>
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <script type="text/javascript" src="../01/angular.min.js" ></script>
  <script type="text/javascript" src="alumnos.js" ></script>
</head>
<body  ng-controller="AlumnosController">
  <h1> 
    cuaderno de alumnos
  </h1>
  <div class="wrapper">
    <div ng-repeat="alumno in alumnos | orderBy: nombre" class="contact-item">
      <div class="nombre"> {{alumno.nombre}} - {{alumno.telefono}}</div>
      <span class="curso"> {{alumno.curso}} </span>
    </div>

  </div>
  <br>
  <center>
    <button ng-click="ShowForm()" ng-hide="formVisibylity" > Añadir contacto </button>
  </center>
  <div class="wrapper" ng-show="formVisibylity">
    <h2> Añadir contacto</h2>
    Nombre: <input type="text" ng-model="nuevoAlumno.nombre" ></input>
    Telefono: <input type="text" ng-model="nuevoAlumno.telefono" ></input>
    curso: <input type="text" ng-model="nuevoAlumno.curso" ></input>

    <button ng-click="Save()">
      Guardar
    </button>
  </div>


</body>
</html>