<!DOCTYPE html>
<html>
<head>
  <!-- Usar la propiedad 'title' para renderizar un título de página  -->
  <title><%= title %></title>
</head>
<body>
  <!-- Si un usuario es autentificado, mostrar el nombre completo del usuario, de no ser así mostrar los enlaces de autentificación -->
  <% if ( userFullName ) { %>
    <h2>Hola <%=userFullName%> </h2> 
    <a href="/signout">Cerrar Sesión</a>
  <% } else { %>
    <a href="/signup">Crear Cuenta</a>
    <a href="/signin">Identificarse</a>
  <% } %>
    <section>
    <input type="text" id="text1" ng-model="name">
    <input type="text" id="text2" ng-model="name">
    </section>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/application.js"></script>
</body>
</html>